* {
    padding: 0px;
    margin: 0px;
    outline: none;
    transition: .2s;
    text-decoration: none;
}

body {
    /* background: radial-gradient(circle at 14% 16%, #FAFFFE 0%, #e8e9eb 18%, #d5d5da 100%); */
    background: white;
}

:root {
    --white:#fafffe;
    --lowgray:#ced4dd;
    --midgray:#a0a0bb;
    --fullgray: #606071;
    --black: #000000;
    --red: #e05757;
    --yellow: #e9c543;
    --green: #4e9744;
    --blue: #0760b6;
    --darkmint: #79ab9c;
    --cyan: #21b8a8;
    --darkblue: #1f2959;
    --mask:
    linear-gradient(0deg,#0000 60px,#000 0) 0 30px,
    radial-gradient(30px,#000 98%,#0000) 50%/55.50px 60px repeat space;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-slider-thumb {
    color: var(--black);
}

::-webkit-slider-runnable-track {
    background: var(--fullgray);
}
