.projectsContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectsTitle {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.projectsTitle h1 {
    color: var(--fullgray);
}

.projectsArrow {
    margin: 0px 10px;
}

.projectsArrow:hover {
    color: var(--midgray);
    transition: .01s;
    cursor: pointer;
}

.projectContent {
    width: 95%;
    height: 90%;
    border: 1px solid black;
    display: flex;
    position: relative;
    box-shadow: 5px 5px 15px black;
    z-index: 1;
    overflow: hidden;
    background: var(--fullgray);
}

.circle1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transform: translate(-100%, -50%);
    position: absolute;
}

.project {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    .projectContent {
        width: 100%;
    }
}
